<div class="admin-body">
  <h2>All Products</h2>
  <div class="product-grid-admin">
    <% products.forEach(product => { %>
      <div class="product-card-admin">
        <img src="<%= product.image %>" alt="<%= product.title %>">
        <h3><%= product.title %></h3>
        <p><strong>Price:</strong> $<%= product.price %></p>
        <p><%= product.description %></p>
      </div>
    <% }) %>
  </div>
</div>