
<h1>My Orders</h1>

<% if (orders.length === 0) { %>
  <p>You have no orders yet.</p>
<% } else { %>
  <% orders.forEach(order => { %>
    <div class="order">
      <h3>Order ID: <%= order._id %></h3>
      <p>Total Price: Rs <%= order.total %></p>
      <p>Status: <%= order.status %></p>
      <p>Address: <%= order.address %></p>
      <p>Phone: <%= order.phone %></p>
      <ul>
        <% order.items.forEach(item => { %>
          <li><%= item.title %> - Quantity: <%= item.quantity %> - Rs <%= item.price %></li>
        <% }) %>
      </ul>
      <hr>
    </div>
  <% }) %>
<% } %>
